# Datasource
QUARKUS_DATASOURCE_DB_KIND=mysql
QUARKUS_DATASOURCE_USERNAME=username
QUARKUS_DATASOURCE_PASSWORD=password
QUARKUS_DATASOURCE_JDBC_URL=jdbc:mysql://localhost:3306/otw_tl_lite_dev?allowMultiQueries=true